
<div class="postall">
    <h1>記事一覧</h1>
    <% @posts.each do |t| %>
      <div class="cp_card04">
        <div class="details">
          <div class="category">
            <p><%= t.word %></p>
          </div>
        </div>
        <div class="description">
          <h2><%= t.title %></h2>
          <div class="text">
          <a href="#0" class=""><%= link_to "詳細へ", post_path(t.id) %></a>
          </div>
        </div>
      </div>
    <% end %>
</div>