<h1>記事一覧</h1>

<div class="cp_card04">
  <% @posts.each do |t| %>
    <div class="details">
    <%= t.title %>
    </div>
    <div class="category">
    <%= t.word %>
    </div>
    <%= link_to "詳細へ", post_path(t.id) %>
  <% end %>
</div>

<div class="cp_card04">

	<div class="details">
		<div class="category"><p>カテゴリー</p></div>
		<div class="date"><span class="day">2016.06.21</span></div>
	</div>
	<div class="description">
		<h1>記事タイトル</h1>
		<div class="text">
			<p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している...</p>
			<a href="#0" class="">Read More</a>
		</div>
	</div>
</div>
